#cartoon .me {
  width: 260px;
  height: 370px;
  position: relative;
  padding: 20px;
}
#cartoon .hair-front {
  height: 300px;
  width: 85px;
  position: absolute;
  left: 70px;
  top: 18px;
  background-image: linear-gradient(to bottom, #6c5b32 20%, #e29ed6 55%);
  border-radius: 100% 0% 40% 100% / 50% 50% 100% 100%;
  z-index: 5;
  transform: rotate(2deg);
}
#cartoon .hair-front .strand {
  height: 300px;
  width: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(to bottom, #6c5b32 20%, #e29ed6 55%);
  border-radius: 100% 0% 40% 100% / 50% 50% 100% 100%;
  z-index: 5;
  transform: rotate(0deg);
  overflow: hidden;
}
#cartoon .hair-front .strand .one {
  border-radius: 0%;
  background: url(images/noise.png);
  background-size: cover;
  clip-path: url(#myClip);
  position: absolute;
  z-index: 3;
  right: 93px;
  top: -70px;
  transform: rotate(-123deg);
  opacity: .35;
}
#cartoon .hair-front .strand .two {
  border-radius: 0%;
  background: url(images/noise.png);
  background-size: cover;
  clip-path: url(#myClip);
  position: absolute;
  z-index: 3;
  right: 24px;
  top: -20px;
  opacity: .15;
  transform: rotate(-149deg);
}
#cartoon .hair-front .strand .three {
  border-radius: 0%;
  background: url(images/noise.png);
  background-size: cover;
  clip-path: url(#myClip);
  position: absolute;
  z-index: 3;
  left: 120px;
  top: -20px;
  opacity: .21;
  transform: rotate(51deg);
}
#cartoon .hair-front .strand .four {
  border-radius: 0%;
  background: url(images/noise.png);
  background-size: cover;
  clip-path: url(#myClip);
  position: absolute;
  z-index: 3;
  left: 110px;
  top: 50px;
  opacity: .21;
  transform: rotate(231deg);
}
#cartoon .hair-front::before {
  content: '';
  position: absolute;
  right: -51px;
  width: 30px;
  top: -2px;
  height: 77px;
  background: #6c5b32;
  background-image: linear-gradient(10deg, rgba(108, 91, 50, 0) 5%, #6c5b32 50%), url(images/noise.png);
  background-size: cover;
  border-radius: 100% 20% 50% 20% / 100% 40% 40% 40%;
  transform: rotate(-45deg);
}
#cartoon .hair-front::after {
  content: '';
  position: absolute;
  right: -18px;
  width: 50px;
  top: -8px;
  height: 50px;
  background: #6c5b32;
  border-radius: 100% 20% 50% 20% / 100% 40% 10% 40%;
  transform: rotate(45deg);
}
#cartoon .head {
  width: 130px;
  height: 120px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.5), #f8e1aa 80%), url(images/noise.png);
  background-size: 200%;
  border-radius: 100%;
  margin: 0 auto 0;
  z-index: 4;
  position: relative;
  overflow: hidden;
}
#cartoon .head .eyebrow {
  width: 30px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 53px;
  transform: rotate(175deg);
}
#cartoon .head .eyebrow path {
  stroke-linecap: round;
  stroke: #6c5b32;
  fill: rgba(0, 0, 0, 0);
}
#cartoon .head .eye {
  width: 30px;
  height: 8px;
  position: absolute;
  right: 18px;
  top: 65px;
}
#cartoon .head .eye path {
  stroke-linecap: round;
  fill: rgba(0, 0, 0, 0);
  stroke: #5422bb;
}
#cartoon .head .eye::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #5422bb;
  position: absolute;
  right: -7px;
  top: 15px;
  transform: rotate(-50deg);
}
#cartoon .head .nose {
  position: absolute;
  top: 91px;
  left: 53px;
  width: 19px;
  height: 6px;
  border-style: solid;
  border-color: #5422bb;
  border-radius: 20% 20% 50% 50% / 10% 10% 100% 100%;
  border-width: 0 2px 4px 2px;
}
#cartoon .head .nose::before {
  position: absolute;
  bottom: 2px;
  left: 4px;
  content: '';
  width: 3px;
  height: 3px;
  background: #5422bb;
  border-radius: 100%;
}
#cartoon .head .nose::after {
  position: absolute;
  bottom: 2px;
  right: 4px;
  content: '';
  width: 3px;
  height: 3px;
  background: #5422bb;
  border-radius: 100%;
}
#cartoon .head .mouth {
  position: absolute;
  top: 101px;
  left: calc(50% - 15px);
  width: 30px;
  height: 10px;
  border-bottom: solid 3px #5422bb;
  border-radius: 100%;
}
#cartoon .head .mouth .path {
  stroke-linecap: round;
  stroke: #6c5b32;
  fill: #6c5b32;
}
#cartoon .head .mouth::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 7px;
  left: 10%;
  bottom: 0px;
  border-radius: 100% 100% 50% 50%;
  background: pink;
}
#cartoon .head .mouth::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 7px;
  left: 5%;
  bottom: -9px;
  border-radius: 50% 50% 100% 100% / 0 0 100% 100%;
  background: pink;
}
#cartoon .head::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(to bottom, #63497b 30%, rgba(99, 73, 123, 0.5) 50%, transparent 100%);
  mix-blend-mode: multiply;
}
#cartoon .hair-back {
  margin: 0 auto;
  width: 200px;
  height: 320px;
  background: #6c5b32;
  background-image: linear-gradient(to bottom, rgba(108, 91, 50, 0.58) 25%, #e29ed6 50%), url(images/noise.png);
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
  border-radius: 100% 100% 70% 70%;
}
#cartoon .torso .neck {
  width: 50px;
  height: 50px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 200%;
  background-position: top left;
  margin: -20px auto 0;
  border-radius: 0 0 50% 50%;
  position: relative;
  z-index: 3;
}
#cartoon .torso .neck::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(to bottom, #63497b 40%, rgba(99, 73, 123, 0.5) 60%, transparent 100%);
  mix-blend-mode: multiply;
}
#cartoon .torso .tshirt {
  margin: -20px auto 0;
  background: #e4a834;
  width: 150px;
  height: 130px;
  border-radius: 20% 20% 100% 100% / 30% 30% 70% 70%;
  z-index: 2;
  position: relative;
}
#cartoon .torso .tshirt::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 70px;
  left: -11px;
  top: 0;
  background: #e4a834;
  border-radius: 50% 10px 0 0;
  transform: rotate(20deg);
  z-index: 2;
}
#cartoon .torso .tshirt::after {
  content: '';
  position: absolute;
  z-index: 9;
  width: 70px;
  height: 70px;
  right: -20px;
  top: 0px;
  background: #e4a834;
  border-radius: 50% 20% 0 0 / 50% 50% 50% 0;
  transform: rotate(40deg);
}
#cartoon .torso .bicep, #cartoon .torso .forearm {
  position: absolute;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: cover;
  width: 50px;
  height: 110px;
  border-radius: 50% 40% 100% 5% / 60% 10% 100% 40%;
  z-index: 2;
  overflow: hidden;
}
#cartoon .torso .left.bicep {
  transform: rotate(20deg);
  right: 192px;
  top: 150px;
  z-index: 1;
}
#cartoon .torso .left.bicep::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -7px;
  width: 100%;
  height: 100%;
  border-radius: 50% 10px 100% 100%;
  background: linear-gradient(-164deg, #63497b 50%, rgba(99, 73, 123, 0.5) 60%, transparent 70%);
  mix-blend-mode: multiply;
}
#cartoon .torso .left.forearm {
  right: 199px;
  top: 231px;
  transform: rotate(-50deg);
  z-index: 7;
  border-radius: 70% 40% 100% 5% / 70% 0% 110% 20%;
  height: 90px;
}
#cartoon .torso .left.forearm::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -7px;
  width: 100%;
  height: 110%;
  border-radius: 0;
  background: linear-gradient(98deg, #63497b 20%, rgba(99, 73, 123, 0.5) 40%, transparent 70%);
  mix-blend-mode: multiply;
}
#cartoon .torso .left.hand {
  position: absolute;
  left: 105px;
  top: 291px;
  z-index: 6;
  transform: rotate(19deg);
}
#cartoon .torso .left.hand .palm {
  width: 20px;
  height: 50px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: cover;
  border-radius: 100% 100% 50% 50%;
  transform: rotate(80deg);
  overflow: hidden;
}
#cartoon .torso .left.hand .palm::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: linear-gradient(288deg, #63497b 20%, rgba(99, 73, 123, 0.5) 40%, transparent 60%);
  mix-blend-mode: multiply;
}
#cartoon .torso .left.hand .thumb {
  width: 25px;
  height: 10px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: -6px;
  right: -13px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-18deg);
}
#cartoon .torso .left.hand .thumb::before {
  content: '';
  width: 26px;
  height: 18px;
  border-radius: 100%;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: 2px;
  right: 16px;
  transform: rotate(-50deg);
}
#cartoon .torso .left.hand .pointer {
  width: 25px;
  height: 10px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: 8px;
  right: -20px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-18deg);
  box-shadow: 6px 3px 4px 0px rgba(99, 73, 123, 0.3);
  z-index: 5;
}
#cartoon .torso .left.hand .pointer::before {
  content: '';
  width: 15px;
  height: 8px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: -5px;
  right: -11px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-28deg);
}
#cartoon .torso .left.hand .middle {
  content: '';
  width: 15px;
  height: 8px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: 12px;
  right: -21px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-23deg);
}
#cartoon .torso .laptop {
  position: absolute;
  top: 235px;
  left: 32px;
  width: 130px;
  height: 100px;
  border-radius: 10%;
  background-color: #e6e6e6;
  background-image: radial-gradient(circle, #e6e6e6 50%, #e6e6e6 60%, rgba(230, 230, 230, 0.75) 80%), url(images/noise.png);
  background-size: cover;
  transform: rotate(-33deg);
  z-index: 5;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0 0px 1px 5px;
}
#cartoon .torso .laptop::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #5422bb;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
#cartoon .torso .right.bicep {
  right: 38px;
  top: 140px;
  transform: rotate(300deg);
  z-index: 1;
}
#cartoon .torso .right.bicep::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -7px;
  width: 100%;
  height: 100%;
  border-radius: 50% 10px 100% 100%;
  background: linear-gradient(-164deg, #63497b 20%, rgba(99, 73, 123, 0.5) 40%, transparent 70%);
  mix-blend-mode: multiply;
}
#cartoon .torso .right.forearm {
  right: 50px;
  top: 188px;
  transform: rotate(420deg);
  overflow: hidden;
  border-radius: 70% 40% 100% 5% / 70% 20% 90% 40%;
}
#cartoon .torso .right.forearm::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100% + 30px);
  border-radius: 0 0 50% 50%;
  background: linear-gradient(-84deg, #63497b 20%, rgba(99, 73, 123, 0.5) 40%, transparent 70%);
  mix-blend-mode: multiply;
}
#cartoon .torso .right.hand {
  position: absolute;
  left: 160px;
  top: 212px;
  z-index: 2;
  transform: rotate(53deg) scaleX(-1);
}
#cartoon .torso .right.hand .palm {
  width: 20px;
  height: 50px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: cover;
  border-radius: 100% 100% 50% 50%;
  transform: rotate(80deg);
  overflow: hidden;
}
#cartoon .torso .right.hand .palm::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 2px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: linear-gradient(-112deg, #63497b 5%, rgba(99, 73, 123, 0.5) 18%, transparent 50%);
  mix-blend-mode: multiply;
}
#cartoon .torso .right.hand .thumb {
  width: 25px;
  height: 10px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: -6px;
  right: -13px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-18deg);
}
#cartoon .torso .right.hand .thumb::before {
  content: '';
  width: 26px;
  height: 18px;
  border-radius: 100%;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: 2px;
  right: 16px;
  transform: rotate(-50deg);
}
#cartoon .torso .right.hand .pointer {
  width: 25px;
  height: 10px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: 8px;
  right: -20px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-18deg);
  box-shadow: 6px 3px 4px 0px rgba(99, 73, 123, 0.3);
  z-index: 5;
}
#cartoon .torso .right.hand .pointer::before {
  content: '';
  width: 15px;
  height: 8px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: -5px;
  right: -11px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-28deg);
}
#cartoon .torso .right.hand .middle {
  content: '';
  width: 15px;
  height: 8px;
  background: #f8e1aa;
  background-image: linear-gradient(rgba(248, 225, 170, 0.75), rgba(248, 225, 170, 0.75)), url(images/noise.png);
  background-size: 300%;
  position: absolute;
  top: 12px;
  right: -21px;
  border-radius: 1% 50% 100% 0;
  transform: rotate(-23deg);
}
#cartoon .legs {
  margin: -35px auto 0;
  width: 140px;
  height: 300px;
  position: relative;
  z-index: 1;
}
#cartoon .legs .leg {
  position: absolute;
  height: 100%;
  width: 80px;
  background: #05aded;
  background-image: linear-gradient(#6fa9ba, rgba(111, 169, 186, 0.76)), url(images/noise.png);
  background-size: 400%;
  border-radius: 30% 230% 5% 5% / 50% 40% 30% 80%;
}
#cartoon .legs .left.leg {
  left: 0px;
  top: 0;
  transform: rotate(2deg);
}
#cartoon .legs .left.leg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(-100deg, #63497b 20%, rgba(99, 73, 123, 0.5) 50%, transparent 70%);
  mix-blend-mode: multiply;
}
#cartoon .legs .left.leg::after {
  background: #84cbe1;
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  height: 40px;
  width: 90px;
  border-radius: 2px 2px 0 0;
}
#cartoon .legs .right.leg {
  right: 0;
  transform: rotate(-1deg);
}
#cartoon .legs .right.leg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 200% 50%;
  background: linear-gradient(-270deg, #63497b 1%, rgba(99, 73, 123, 0.5) 20%, transparent 70%);
  mix-blend-mode: multiply;
}
#cartoon .legs .right.leg::after {
  background: #84cbe1;
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  height: 42px;
  width: 90px;
  border-radius: 2px 2px 0 0;
}
#cartoon .cat {
  position: absolute;
  top: 162px;
  right: 40px;
  z-index: 4;
  transform: scale(0.9);
}
#cartoon .cat .head {
  width: 100px;
  height: 70px;
  background: white;
  background-image: linear-gradient(120deg, #5422bb 40%, transparent 55%), linear-gradient(229deg, #5422bb 30%, transparent 45%);
  border-radius: 50% / 60%;
  overflow: visible;
  transform: rotate(-5deg);
}
#cartoon .cat .head .ears {
  position: relative;
}
#cartoon .cat .head .ears .left, #cartoon .cat .head .ears .right {
  position: absolute;
  background-color: #5422bb;
  text-align: left;
}
#cartoon .cat .head .ears .left {
  top: -10px;
  right: 79px;
  transform: rotate(-90deg) skewX(-30deg) scale(1, 0.866);
}
#cartoon .cat .head .ears .right {
  top: -10px;
  right: 5px;
  transform: rotate(-40deg) skewX(-30deg) scale(1, 0.866);
}
#cartoon .cat .head .ears .left:before, #cartoon .cat .head .ears .left:after, #cartoon .cat .head .ears .right:before, #cartoon .cat .head .ears .right:after {
  content: '';
  position: absolute;
  background-color: inherit;
}
#cartoon .cat .head .ears .left, #cartoon .cat .head .ears .left:before, #cartoon .cat .head .ears .left:after, #cartoon .cat .head .ears .right, #cartoon .cat .head .ears .right:before, #cartoon .cat .head .ears .right:after {
  width: 20px;
  height: 20px;
  border-top-right-radius: 30%;
}
#cartoon .cat .head .ears .left:before, #cartoon .cat .head .ears .right:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
#cartoon .cat .head .ears .left:after, #cartoon .cat .head .ears .right:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
#cartoon .cat .head .eyes .left, #cartoon .cat .head .eyes .right {
  width: 15px;
  height: 15px;
  background: #6eb63f;
  border-radius: 100%;
  z-index: 2;
}
#cartoon .cat .head .eyes .left::before, #cartoon .cat .head .eyes .right::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 6px;
  top: 2px;
  border-radius: 100%;
  background: white;
  left: 2px;
  animation: eyes .3s infinite;
}
#cartoon .cat .head .eyes .left::after, #cartoon .cat .head .eyes .right::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: 5px;
  border-radius: 100%;
  background: white;
  left: 9px;
  animation: eyes .2s infinite;
}
#cartoon .cat .head .eyes .left {
  position: absolute;
  left: 20px;
  top: 25px;
}
#cartoon .cat .head .eyes .right {
  position: absolute;
  top: 25px;
  left: 75px;
}
#cartoon .cat .head .nose {
  position: absolute;
  width: 7px;
  height: 2px;
  left: 51px;
  top: 42px;
  border-style: solid;
  border-color: pink;
  border-radius: 20% 20% 50% 50% / 10% 10% 100% 100%;
  border-width: 0 2px 4px 2px;
  background: pink;
}
#cartoon .cat .head .nose::before, #cartoon .cat .head .nose::after {
  position: absolute;
  width: 17px;
  height: 5px;
  left: -16px;
  top: 5px;
  border-style: solid;
  border-color: #5422bb;
  border-radius: 20% 20% 50% 50% / 10% 10% 100% 100%;
  border-width: 0 1px 2px 1px;
  background: rgba(255, 255, 255, 0);
}
#cartoon .cat .head .nose::after {
  left: 1px;
  top: 5px;
}
#cartoon .cat .head::before {
  display: none;
}
#cartoon .cat .head::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50% / 60%;
  background-image: url(images/noise.png);
  background-size: cover;
  mix-blend-mode: soft-light;
}
#cartoon .cat .arm {
  position: absolute;
  width: 30px;
  height: 33px;
  background: white;
  background-image: linear-gradient(0deg, white 60%, transparent), url(images/noise.png);
  background-size: 200%;
  z-index: 4;
  border-radius: 80% 80% 100% 100% / 100%;
  box-shadow: -1px 3px 7px rgba(52, 20, 117, 0.16);
}
#cartoon .cat .arm.left {
  left: 15px;
  top: 60px;
  transform: rotate(-50deg);
}
#cartoon .cat .arm.right {
  left: 74px;
  top: 46px;
  z-index: 1;
}
#cartoon .cat-body {
  position: absolute;
  top: 209px;
  left: 176px;
  width: 88px;
  height: 100px;
  background: #5422bb;
  background-image: radial-gradient(circle, white 20%, #5422bb 60%), url(images/noise.png);
  background-size: cover;
  border-radius: 100% 100% 70% 70%;
  z-index: 2;
  transform: rotate(-10deg);
  transform: scale(0.9);
}
#cartoon .cat-body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #ffffff91 20%, transparent 60%), url(images/noise.png);
  background-size: cover;
  border-radius: 100% 100% 70% 70%;
}
#cartoon .cat .leg {
  position: absolute;
  width: 30px;
  height: 37px;
  background: white;
  background-image: linear-gradient(0deg, white 60%, transparent), url(images/noise.png);
  background-size: 200%;
  z-index: 4;
  border-radius: 80% 80% 100% 100% / 100%;
}
#cartoon .cat .leg.left {
  left: 37px;
  top: 105px;
  transform: rotate(-150deg);
}
#cartoon .cat .leg.right {
  left: 96px;
  top: 97px;
  transform: rotate(-117deg);
}
#cartoon .cat .tail {
  position: absolute;
  top: 100px;
  left: 61px;
  width: 50px;
  height: 60px;
  border: 20px solid;
  border-color: #5422bb transparent transparent #5422bb;
  transform: rotate(-135deg);
  border-radius: 120px / 116px 90px 0 160px;
}
#cartoon .cat .tail:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 50px;
  right: 37px;
  background: #5422bb;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 2px 4px #5422bb, 2px 7px #5422bb, 2px 10px #5422bb, 1px 14px #5422bb, -1px 18px #5422bb, -5px 22px #5422bb;
}

@keyframes eyes {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes eyestwo {
  0% {
    top: 5px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: 5px;
  }
}
