@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

:root {
  --orange: #b13a1a;
  --purple: #832c76;
  --blue: #164db0;
  --teal: #287e9e;
  --yellow: #e4a834;
  --pink: #b3346c;
  --seafoam:#7ae7ab;
  --lavender:#e29ed6;
  
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #250e55;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: white;
  font-size: 1.4em;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}
body.day {
  background: #e29ed6;
  color: #250e55;
}
@-webkit-keyframes introbg { 
  to {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  from {
    background-position: 1000% 3000%, 1000% 2000%, -1000% 2000%;
  }
}
@keyframes introbg { 
  to {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  from {
    background-position: 1000% 3000%, 1000% 2000%, -1000% 2000%;
  }
}
body.enter-page {
  background-image: url(images/leopard_1f406.png), url(images/rainbow_1f308.png), url(images/slice-of-pizza_1f355.png);
  background-size: 130px, 200px, 120px;
  -webkit-animation: introbg 5000s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: introbg 5000s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}
body.enter-page::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #250e55;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .8;
}

.button {
  background: #fff;
  background-image: -webkit-gradient(linear,left top, right top,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f),to(#05aded)),-webkit-gradient(linear,left top, right top,from(#fff),to(#fff));
  background-image: linear-gradient(to right,#e9008d,#f6841b,#fcea08, #6eb63f,#05aded),linear-gradient(to right,#fff,#fff);
  background-size: 0%,100%;
  background-repeat: no-repeat;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  color: #25115f;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.button:hover {
  background-size: 100%, 100%;
  color: white;
  -webkit-text-stroke: 1px #250e55;
  text-shadow: 2px 2px #250e55;
}

#marquee {
  width: 100%;
  position: relative;
  font-family: 'Fredoka One', cursive;
}

#marquee span {
  -webkit-animation: scroll 5s linear 0s infinite;
          animation: scroll 5s linear 0s infinite;
  position: absolute;
  font-size: 4em;
  font-weight: bold;
  color: red;
  background: -webkit-gradient(linear,right top, left top,from(#164db0),color-stop(#832c76),color-stop(#b3346c),to(#b13a1a));
  background: linear-gradient(to left,#164db0,#832c76,#b3346c,#b13a1a);
  background-size: 400%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone; 
  box-decoration-break: clone; 
  letter-spacing: -5px;
  text-shadow: -6px -7px 0px #e4a834;
  /* -webkit-text-stroke: 1px white;  */
}

@-webkit-keyframes scroll { 
  0% {
    -webkit-transform:translate(-4.5em,0);
            transform:translate(-4.5em,0);
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    -webkit-transform:translate(100vw,0);
            transform:translate(100vw,0);
    background-position: left;
  }
}

@keyframes scroll { 
  0% {
    -webkit-transform:translate(-4.5em,0);
            transform:translate(-4.5em,0);
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    -webkit-transform:translate(100vw,0);
            transform:translate(100vw,0);
    background-position: left;
  }
}

#marquee span::before {
  content: 'COMING SOON!!';
  position:absolute;
  right: 8px;
  top: -7px;
  width: 100%;
  -webkit-text-stroke: 2px black;
  text-shadow: none;
  background: transparent;
}

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* ---------- */

.enter-page .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 2;
}

#center-nav {
  text-align: center;
}

#center-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#center-nav ul li {
  padding: 50px;
}

#center-nav ul li a {
  text-decoration: none;
  font-size: 4em;
  font-weight: bold;
  color: #000;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -3px;
  text-shadow: -0px -0px 0px white;
  position: relative;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right top, left top, from(#f6841b), color-stop(#fcea08), color-stop(#6eb63f), color-stop(#05aded), color-stop(#6eb63f), color-stop(#fcea08), to(#f6841b) );
  background: linear-gradient(-90deg, #f6841b, #fcea08, #6eb63f, #05aded, #6eb63f, #fcea08, #f6841b );
  padding: 20px 50px 10px 50px;
  background-size: 50%;
  -webkit-animation: bgmove 100s linear 0s infinite;
          animation: bgmove 100s linear 0s infinite;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  background-blend-mode: luminosity;
}

#center-nav ul li a:hover {
  cursor: pointer;
  text-shadow: -6px -7px 0px white;
  background-blend-mode: normal;
}

#center-nav ul li a::after {
  content: 'ENTER SITE';
  position: absolute;
  left: -7px;
  top: 14px;
  -webkit-text-stroke: 3px #000;
  text-shadow: none;
  background: transparent;
  width: 100%;
}
body.browser-ie #center-nav ul li a::after {
  display: none;
}

@-webkit-keyframes bgmove { 
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 1000% 0;
  }
}

@keyframes bgmove { 
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 1000% 0;
  }
}

.enter-info span {
  font-size: .7em;
  display: block;
  margin-bottom: 6px;
}
body.browser-ie .enter-info span.ie {
  font-size: 2em;
}

.enter-info span i {
  margin-left: 10px;
}

.enter-info span:first-child {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ------- */

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1270px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, auto);
}
.time {
  position: absolute;
  right: 0;
  font-size: .6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9008d;
  color: white;
  font-weight: 700;
}
.time time {
  margin-right: 10px;
}
.time .daynight i {
  margin: 0 3px;
  opacity: .5;
}
.time .daynight i.active {
  opacity: 1;
}
.time .daynight i:hover {
  cursor: pointer;
}
@-webkit-keyframes blink { 
  to {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  from {
    background-position: 1000% 3000%, 1000% 2000%, -1000% 2000%;
  }
}
@keyframes blink { 
  to {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  from {
    background-position: 1000% 3000%, 1000% 2000%, -1000% 2000%;
  }
}
#left-nav {
  grid-row-end: span 6;
  padding: 0 20px 0 0;
  width: 187px;
}
#left-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
}
#left-nav nav ul li {
  text-align: center;
  position: relative;
}
#left-nav nav ul li a {
  color: #250e55;
  text-decoration: none;
  padding: 10px;
  background:white;
  margin: 30px 0;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}
#left-nav nav ul li a::before {
  content: '';
  background: -webkit-gradient(linear,left top, left bottom,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f), to(#05aded));
  background: linear-gradient(to bottom,#e9008d,#f6841b,#fcea08, #6eb63f, #05aded);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 7px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
  z-index: -1;
}
#left-nav nav ul li a::after {
  content: '';
  background: -webkit-gradient(linear,left bottom, left top,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f), to(#05aded));
  background: linear-gradient(to top,#e9008d,#f6841b,#fcea08, #6eb63f, #05aded);
  position: absolute;
  right: 0px;
  top: 0px;
  height:100%;
  width: 7px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
  z-index: -1;
}
#left-nav nav ul li a .rainbow-border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
  z-index: -1;
}
#left-nav nav ul li a .rainbow-border::before {
  left: 0;
  height: 7px;
  width: 100%;
  top: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
#left-nav nav ul li a .rainbow-border::after {
  height: 7px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
#left-nav nav ul li a:hover::before {
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
}
#left-nav nav ul li a:hover::after {
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
}
#left-nav nav ul li a:hover .rainbow-border{
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
}
@-webkit-keyframes bordermove { 
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  20% { 
    -webkit-transform: translate(-2px, -2px); 
            transform: translate(-2px, -2px);
  }
  40% { 
    -webkit-transform: translate(2px, -2px); 
            transform: translate(2px, -2px);
  }
  60% { 
    -webkit-transform: translate(2px, 2px); 
            transform: translate(2px, 2px);
  }
  80% { 
    -webkit-transform: translate(-2px, 2px); 
            transform: translate(-2px, 2px);
  }
  80% { 
    -webkit-transform: translate(-2px, 2px); 
            transform: translate(-2px, 2px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@keyframes bordermove { 
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  20% { 
    -webkit-transform: translate(-2px, -2px); 
            transform: translate(-2px, -2px);
  }
  40% { 
    -webkit-transform: translate(2px, -2px); 
            transform: translate(2px, -2px);
  }
  60% { 
    -webkit-transform: translate(2px, 2px); 
            transform: translate(2px, 2px);
  }
  80% { 
    -webkit-transform: translate(-2px, 2px); 
            transform: translate(-2px, 2px);
  }
  80% { 
    -webkit-transform: translate(-2px, 2px); 
            transform: translate(-2px, 2px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
section#about,
section#downloads,
section#links,
section#page-top, 
section#gritty
{
  position: relative;
}
.page-title {
  font-size: 4em;
  font-weight: bold;
  color: #fcea08;
  background: -webkit-gradient(linear,left top, right top,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f),to(#05aded));
  background: linear-gradient(to right,#e9008d,#f6841b,#fcea08, #6eb63f,#05aded);
  /* background-size: 400%; */
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone; 
  box-decoration-break: clone; 
  letter-spacing: -3px;
  text-shadow: -6px -7px 0px white;
  text-align: center;
  position: relative;
  font-family: 'Fredoka One', cursive;
}

.page-title::before {
  content: 'LIA CODES';
  position:absolute;
  left: -6px;
  top: -7px;
  -webkit-text-stroke: 3px #e9008d;
  text-shadow: none;
  background: transparent;
  width: 100%;
}
.section-title {
  margin: 10px 0 30px;
  text-align: center;
  font-size: 2em;
  font-family: 'Fredoka One', cursive;
  letter-spacing: -3px;
  -webkit-text-stroke: 2px #e9008d;
  color: white;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}
.intro-left {
  position: relative;
}
.intro-left::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 0;
  top: -20px;
  left: -20px;
  border: dashed 3px #e9008d;
}
.intro-left::after {
  content: '';
  position: absolute;
  width: 0;
  height: 30px;
  top: -10px;
  left: -20px;
  border: dashed 3px #09ade3;
}
.intro .intro-right::after {
  content: '';
  width: 290px;
  background: linear-gradient(45deg, #e9008d, #f6841b, #fcea08, #6eb63f, #05aded, #6eb63f,#fcea08,#f6841b, #e9008d );
  height: 390px;
  position: absolute;
  right: 87px;
  top: 26px;
  z-index: -1;
}
.intro .intro-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  margin-left: 5%;
  position: relative;
}
/*
.intro .right span {
  display: block;
  position: relative;
}

.intro .right::before,
.intro .right::after,
.intro .right span::before,
.intro .right span::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right,#e9008d,#f6841b,#fcea08, #6eb63f,#05aded);
  height: 15px;
}

.intro .right::before {
  width: 100%;
  top: -20px;
  left: -20px;
}
.intro .right span::before {
  width: 270px;
  transform: rotate(-90deg);
  transform-origin: top right;
  top: ;
  right: 25px;
  top: -20px;
}
.right span::after {
  width: 270px;
  left: 0;
  transform-origin: top left;
  transform: rotate(90deg);
  top: -20px;
  left: -16px;
}
.intro .right::after {
  width: 100%;
  left: -20px;
  bottom: -22px;
  transform: rotate(180deg);

}
.intro .right img {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 26px 0px rgba(0,0,0,.15);
} */

.rainbow-border {
  position: relative;
}

.rainbow-border::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear,left top, right top,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f),to(#05aded));
  background: linear-gradient(to right,#e9008d,#f6841b,#fcea08, #6eb63f,#05aded);
  height: 15px;
  width: 300px;
  top: 0px;
  left: 10px;
}

.rainbow-border::after {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear,right top, left top,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f), to(#05aded));
  background: linear-gradient(to left,#e9008d,#f6841b,#fcea08, #6eb63f, #05aded);
  height: 15px;
  width: 300px;
  bottom: -400px;
  left: 10px;
  z-index: 6;
}

#cartoon {
  position: relative;
  width: 330px;
  height: 400px;
  overflow: hidden;
}

#cartoon::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear,left top, left bottom,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f), to(#05aded));
  background: linear-gradient(to bottom,#e9008d,#f6841b,#fcea08, #6eb63f, #05aded);
  height: 400px;
  width: 15px;
  top: 0;
  left: 10px;
}
#cartoon::after {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear,left bottom, left top,from(#e9008d),color-stop(#f6841b),color-stop(#fcea08), color-stop(#6eb63f),to(#05aded));
  background: linear-gradient(to top,#e9008d,#f6841b,#fcea08, #6eb63f,#05aded);
  height: 400px;
  width: 15px;
  top: 0;
  right: 20px;
  }
#about {
  background: linear-gradient(to bottom, #d2d2d2 25px, rgb(158, 158, 158) 25px, white 29px, rgb(213, 213, 213) 27px, white 39px);
  color: black;
  border-radius: 10px;
  padding: 40px 20px 20px;
  position: relative;
  margin: 0 0 50px 0;
}
#about::before {
  content: '';
  width: 10px;
  height: 11px;
  position: absolute;
  left: 10px;
  top: 5px;
  border: solid 1px black;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.24);
}
.minmax {
  width: 10px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 5px;
  border: solid 1px black;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.24);
  background: linear-gradient(to right, transparent 6px, black 7px, #d2d2d2 7px), linear-gradient(to bottom, #d2d2d2 6px, black 7px, #d2d2d2 7px);
}
.minmax.open{
  background: linear-gradient(to right, transparent 12px, black 12px, #d2d2d2 12px), linear-gradient(to bottom, #d2d2d2 4px, black 5px, #d2d2d2 7px);
}
#about .list {
  margin-bottom: 40px;
}
#about .list img {
  margin: 0 auto;
  display: block;
}
.list-icons {
  text-align: center;
  font-size: 2em;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #250e55;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, left top, right top, from(#6eb63f), color-stop(#05aded), to(#280f5b));
  background: linear-gradient(90deg, #6eb63f, #05aded, #280f5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-icons i {
  /* text-shadow: -1px 10px 20px rgba(0, 0, 0, 0.29); */
}
.list-text {
  margin-bottom: 40px;
  width: calc(100% - 100px);
  height: 170px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 50px;
  background: white;
  color: #280f5b;
  border: solid 2px #dadada;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.list-text.open{
  height: auto;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.list-text::-webkit-scrollbar-track
{
	background-color: #d2d2d2;
}
.list-text::-webkit-scrollbar
{
	width: 10px;
	background-color: #d2d2d2;
}
.list-text::-webkit-scrollbar-thumb
{
	background-color: #a5aafa ;
	border: 2px solid #868ace ;
}
.list-text ul {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.list-text ul li {
  width: 29.33%;
  margin: 0 2% 10px;
}
.list-text ul li:before {
  content: '\1F308';
  margin-left: -20px;
  margin-right: 10px;
}
#about .text {
  text-align: center;
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
.social-media {
  margin: 0px 0 50px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media li {
  margin: 0 10px;
  font-weight: 400;
}
.social-media li a {
  padding: 5px 15px;
}
.social-media li a:hover i {
  -webkit-text-stroke: 0px #250e55;
}
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.portfolio::before {
  content: '';
  position: absolute;
  width: 0;
  height: 30px;
  bottom: 0;
  left: -20px;
  border: dashed 3px #09ade3;
}

.portfolio::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 0;
  bottom: -10px;
  right: 0;
  border: dashed 3px #99c52d;
}
.portfolio-item {
  width: 31.33%;
  margin-right: 3%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-item .image {
  height: 250px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item .image.marco {
  background-image: url(images/marco.png);
}
.portfolio-item .image.houk {
  background-image: url(images/houk.png);
}
.portfolio-item .image.cindy {
  background-image: url(images/cindy.png);
}
.portfolio-item .image.clawson {
  background-image: url(images/clawson.png);
}
.portfolio-item .image.perio {
  background-image: url(images/perio.png);
}
.portfolio-item .image.santee {
  background-image: url(images/santee.png);
}
.portfolio-item .image.theme {
  background-image: url(images/te.png);
}
.portfolio-item .title {
  font-weight: 900;
  font-size: 1.1em;
}
.portfolio-item .about {
  font-size: .8em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio-item ul.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
.portfolio-item ul.tags li {
  display: inline-block;
  font-size: .5em;
  padding: 5px 7px;
  background: #39187c;
  margin: 3px;
  color: rgb(255, 255, 255);
}
.portfolio-item .portfolio-link {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 5px 0;
}
.portfolio-item .portfolio-link:hover {
}
.disclaimer {
  display: block;
  text-align: center;
  width: 100%;
  font-size: .7em;
}
#downloads {
  margin-bottom: 100px;
}

.downloads-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.downloads-list li {
  margin: 0 10px;
}

.downloads-list li a {
  padding: 5px 20px;
}

body.te img {
  max-width: 100%;
}
.image-zoom {
  width: 100%;
  display: block;
  position: relative;
  color: white;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
}
.image-zoom::after {
  content: '\f00e';
  position: absolute;
  right: 6px;
  bottom: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: .6em;
}
.intro.te .intro-right::after {
  display: none;
}
.intro.te .intro-left {
  width: 50%;
}

.intro.te .intro-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  margin-left: 3%;
  height: auto;
}
.code {
  background: white;
  color: #250e55;
  padding: 20px;
  font-family: monospace;
  border: 7px solid #e9008d;
  font-size: .8em;
  width: calc(100% - 54px);
  word-break: break-all;
}
.caption {
  display: block;
  font-size: .6em;
}
svg.svg-add {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
}

svg rect#line_1 {
  fill: #e90686;
  -webkit-animation: glitch 4s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 4s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}

svg rect#line_2 {
  fill: #f79817;
  -webkit-animation: glitch 2s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 2s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}

svg rect#line_3 {
  fill: #99c52d;
  -webkit-animation: glitch 10.25s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 10.25s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}

svg rect#line_4 {
  fill: #12aed6;
  -webkit-animation: glitch 3.25s cubic-bezier(0, 0, 0, 0) 0s infinite;
          animation: glitch 3.25s cubic-bezier(0, 0, 0, 0) 0s infinite;
}
svg.svg-enter {
  position: absolute;
  right: -70px;
  top: 10%;
  z-index: 1;
}
svg.svg-chev {
  position: absolute;
  bottom: calc(50% - 100px);
  left: calc(50% - 320px);
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  z-index: 1;
  width: 150px;
  height: 106px;
}
svg.svg-chev path:nth-child(1n) {
  fill: #e90686;
  -webkit-animation: glitch 3s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 3s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}

svg.svg-chev path:nth-child(2n) {
  fill: #99c52d;
  -webkit-animation: glitch 4s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 4s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}
svg.svg-chev path:nth-child(3n) {
  fill: #12aed6;
  -webkit-animation: glitch 2s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 2s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}
svg.svg-chev path:nth-child(3n + 2) {
  fill: #e90686;
  -webkit-animation: glitch 4.5s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
          animation: glitch 4.5s cubic-bezier(0.4, 0.4, 0.66, 0.67) 0s infinite;
}
@-webkit-keyframes glitch { 
0% {
  opacity: 1;
}
19.9% {
  opacity: 1;
}
20% {
  opacity: 0;
}
20.1% {
  opacity: 1;
}

30% {
  opacity: 1;
}
30.1% {
  opacity: 0;
}
49.9% {
  opacity: 0;
}
50% {
  opacity: 1;
}
50.2% {
  opacity: 1;
}
50.3% {
  opacity: 0;
}
50.4% {
  opacity: 1;
}
100% {
  opacity: 1;
}
}
@keyframes glitch { 
0% {
  opacity: 1;
}
19.9% {
  opacity: 1;
}
20% {
  opacity: 0;
}
20.1% {
  opacity: 1;
}

30% {
  opacity: 1;
}
30.1% {
  opacity: 0;
}
49.9% {
  opacity: 0;
}
50% {
  opacity: 1;
}
50.2% {
  opacity: 1;
}
50.3% {
  opacity: 0;
}
50.4% {
  opacity: 1;
}
100% {
  opacity: 1;
}
}
footer {
  position: relative;
  overflow: hidden;
}

footer svg {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  position: absolute;
  left: calc(50% - 200px);
  bottom: 0;
  height: 30px;
  width: 257px;
}

footer .copyright {
  display: block;
  text-align: center;
  font-size: .5em;
}
/* IE CHANGES */
body.browser-ie section#about,
body.browser-ie section#downloads,
body.browser-ie section#links,
body.browser-ie section#page-top, 
body.browser-ie section#gritty
{
  width: 100%;
}
body.browser-ie .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body.browser-ie #left-nav {
  width: 100%;
}
body.browser-ie #left-nav nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body.browser-ie .page-title {
  color: #fff;
  position: relative;
}
body.browser-ie .page-title::before {
  display: none;
}
body.browser-ie .intro .intro-right {
  margin: 0;
}
body.browser-ie  .list-icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* EDGE CHANGES */
body.browser-edge #cartoon .torso .neck,
body.browser-edge #cartoon .torso .left.hand .palm,
body.browser-edge #cartoon .torso .left.hand .thumb,
body.browser-edge #cartoon .torso .left.hand .pointer,
body.browser-edge #cartoon .torso .left.hand .middle,
body.browser-edge #cartoon .torso .laptop,
body.browser-edge #cartoon .torso .right.hand .palm,
body.browser-edge #cartoon .torso .right.hand .pointer,
body.browser-edge #cartoon .cat .head::after,
body.browser-edge #cartoon .cat .arm,
body.browser-edge #cartoon .cat .leg, 
body.browser-edge #cartoon .torso .bicep,
body.browser-edge #cartoon .torso .forearm,
body.browser-edge #cartoon .head,
body.os-ios #cartoon .torso .neck,
body.os-ios #cartoon .torso .left.hand .palm,
body.os-ios #cartoon .torso .left.hand .thumb,
body.os-ios #cartoon .torso .left.hand .pointer,
body.os-ios #cartoon .torso .left.hand .middle,
body.os-ios #cartoon .torso .laptop,
body.os-ios #cartoon .torso .right.hand .palm,
body.os-ios #cartoon .torso .right.hand .pointer,
body.os-ios #cartoon .cat .head::after,
body.os-ios #cartoon .cat .arm,
body.os-ios #cartoon .cat .leg, 
body.os-ios #cartoon .torso .bicep,
body.os-ios #cartoon .torso .forearm,
body.os-ios #cartoon .head, 
body.os-ios #cartoon .cat-body::after, 
body.os-ios #cartoon .cat-body {
  background-image: none !important;
}
body.os-ios #cartoon .cat .head .ears .left, 
body.os-ios #cartoon .cat .head .ears .right{
  background-color: #fff;
}
/* FIREFOX */
body.browser-firefox .rainbow-border::before {
  top: 20px;
}

@media(max-width:1100px){

}

@media(max-width:1100px){
  #left-nav nav ul li a {
    padding: 0px 5px;
    font-size: .9em;
  }

  #left-nav {
      width: 147px;
  }

  .page-title {
      font-size: 3em;
      margin: 50px 0;
  }

  .intro {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 50px;
  }

  .intro .intro-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin: 50px 0 0 0;
  }

  .intro .intro-right::after {
      right: calc(50% - 165px);
      top: 30px;
  }

  #cartoon {
      left: calc(50% - 165px);
  }

  .rainbow-border {
      position: absolute;
      left: calc(50% - 165px);
  }

  .list-text ul li {
      font-size: .7em;
  }

  .portfolio-item {
      width: 47%;
  }

  .portfolio-item:nth-child(3n) {
      margin-right: 3%;
  }

  .portfolio-item:nth-child(2n) {
      margin-right: 0;
  }
}


@media(max-width:900px){
    #center-nav ul li a {
        font-size: 24vw;
        text-align: center;
        width: 100%;
        padding: 0;
        display: block;
        background-size: 180%;
    }
    #center-nav ul li {
        padding: 0;
    }
    .enter-page .wrapper {
        width: 100%;
    }
    #center-nav ul li a::after {
        top: 0;
        left: 0;
    }
    .enter-info {
        width: 75%;
        margin: 0 auto;
        text-shadow: 2px 2px 3px black;
    }
    .enter-info span:first-child {
      font-size: 1.2em;
      width: 80%;
      margin: 10px auto 0;
    }
    svg.svg-enter {
      right: 0;
      width: 257px;
      height: 30px;
    }
    svg.svg-chev {
        left: 0;
        bottom: 40px;
    }
    .list-text ul li {
      width: 50%;
      margin: 3px 0;
    }
    #about .text {
      width: 100%;
    }
    .social-media {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .social-media li {
      margin: 10px;
    }
    .portfolio-item {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
    .portfolio-item:nth-child(3n) {
      margin: 0;
      margin-bottom: 30px;
    }
    .downloads-list li {
      width: 100%;
      margin: 0 0 30px 0;
    }

    .downloads-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    #downloads {
      margin-bottom: 50px;
    }
    #left-nav {
      padding: 0;
      width: 100%;
      grid-row-end: span 1;
      margin-top: 50px;
    }
    .wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, auto);
    }
    #left-nav nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      position: relative;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    #left-nav nav ul li a {
      margin: 10px;
    }
    .page-title {
      margin: 0 0 20px 0;
      font-size: 17vw;
    }
    .intro-left::before {
      left: -4%;
    }
    .intro-left::after {
      left: -4%;
    }
    .intro .intro-right {
      margin: 30px 0 0 0;
      height: 440px;
    }
    #cartoon {
      width: 330px;
      position: absolute;
    }
    .intro .intro-right::after {
      width: 260px;
      left: calc(50% - 129px);
      top: 25px;
    }

    #cartoon::after {
      right: 10px;
    }
    .intro {
      margin-bottom: 0;
    }
    body {
      font-size: 1.3em;
    }

    .portfolio::before {
      left: -3%;
    }
    svg.svg-add {
      left: 38%;
    }
    #about {
      width: calc(100% - 40px);
    }
    .list-icons {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: none;
    }
    .list-text {
      padding: 10px 20px;
      width: calc(100% - 40px);
    }
    .list-text ul li:nth-child(odd) {
        width: calc(50% - 12px);
        padding-right: 12px;
    }
    .list-icons i {
        margin: 4px 10px;
    }
    .intro.te .intro-left {
      width: 100%;
    }
    .intro.te .intro-right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        width: 100%;
        margin: 20px 0;
    }
    body.te {
      font-size: 1.2em;
    }
}